body{
    padding: 0;
}
header{
    top: 0;
    width: 100%;
   height: 50px;
   background: white;
    border-bottom: 2px solid greenyellow;
    position: fixed;
    z-index:3;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
width: 60%;
position: relative;

display: block;

}
#menu ul{ position: relative;
    display: flex;
    flex-direction: row;
 float: right;
    right:25%;
    gap: 25%;
   
}

#menu li,a{
    list-style: none;
    text-decoration: none;
    font-size: 12px;

}
#menu a:hover{
    
    color: rgb(47, 255, 95);
    
    font-weight: bold;
}
#bola{

    width: 35px;
    height: 35px;  
    border: 1px solid  rgb(47, 210, 25);
    position: fixed;
    z-index: 1111;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
body:active  #bola{
    border: 1px solidrgb(47, 210, 25);
    opacity: 1;
}
body:active  #bola_child{
    background-color: rgb(47, 210, 25);

    opacity: 1;
}
#bola_child{
    width: 15px;
     height: 15px;  
     background-color: rgb(47, 210, 25);
     position: fixed;
     z-index: 1111;
     border-radius: 50%;
    
 }
h1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
}
h2{
    margin-top: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#logo img{
    width: 150px;
    z-index: 99;
    background: white;
    box-shadow:  0px 5px 0px 0px rgba(100, 227, 80, 0.504);
   
}



#redes{
width: 20%;
height: fit-content;
display: flex;
flex-wrap: wrap;
position: relative;
float: right;
justify-content: end;

gap: 5px;
min-width: 30px;

}
#redes img{
    margin-top: 5px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    filter: grayscale(1);
}
#redes img:hover{
    filter: grayscale(0.5);
    transform: scale(1.1);
}

.container{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    gap: 5px;
   right: 100px;
    justify-content: center;
    top: 100px;
}
#content{
   
    position: relative;
    width: 60%;
    height: fit-content;
    
}
#lateral{
    width: 20%;
    height: 100%;
    border: 1px solid rgba(80, 202, 46, 0.558);
    position: fixed;
    right: 2px;
    top: 50px;
    
}
#lateral h3{
    text-align: center;

}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
#img{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    top: 15px;
    overflow: hidden;
}
.img_tree:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in;
}
#img a{
width: fit-content;
text-decoration: none;
color: gray;
font-size: 12px;
}
.img_tree{
    min-width: 250px;
    width: 49%;
    height: 300px;
    transition: 1s ease-in;
   
}

@keyframes imgshow{

    from{

        opacity: 0;
        scale: 25%;
    }to{
        opacity: 1;
        scale: 100%;
    }
}
#img,#div_media,form{
    view-timeline-name: --revealing-image;
    animation-name: imgshow;
    animation-fill-mode: backwards;
    animation-timeline: --revealing-image;
    animation-range: entry 35% cover 40%;
}
footer{

width: 100%;
height:40px;
background: rgba(161, 164, 161, 0.753);

position: relative;
top: 120px;
text-align: center;
padding-top: 10px;
font-size: 8px;

}
#div_media{
width: 100%;
height: fit-content;
overflow: hidden;
overflow-x: scroll;
display: flex;
flex-direction: row;
gap: 5px;

}

#media iframe{

    width: 500px;
    height: 300px;
}
#p_footer{
text-align: center;
font-size: 10px;

}

@media only screen
and (min-width: 120px)
and (max-width: 856px){
    #logo img{
        width: 120px;
    }
    p{
        font-size: 15px;
        line-height: 20px;
        word-spacing: -1px;
    }
    #lateral{
        display: none;
    }
    #content{
       
        width: 90%;
    }
    .container {
        right: 0;
        
    }
    #redes{
       
        justify-content: center;
    }

}
@media only screen
and (min-width: 120px)
and (max-width: 400px){
    #menu {
        width: 100px;
    }
    #menu ul{
        display: none;
    }
    #redes{
        flex-direction: row;
       
    }
    .contact-form {

        width: 90%;
    }

}